.header{
    background-color: rgb(56, 52, 112);
    max-width: 100vw;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header p{
    color: #f0ffff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

