.article{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.article h2, .article p{
    color: #f0ffff;
}