.article_content{    
    height: 100%;
    width: 80%;    
}

.div_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;    
    height: 8%;
}

.div_content p{
    color: #f0ffff;
}