.header{
    height: 10vh;
    width: 100vw;
    background-color: rgb(39, 39, 39);
}

.footer{
    height: 5vh;
    width: 100vw;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main{
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    background-color: rgb(182, 248, 248);
}

.nav{
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav a{
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(143, 143, 143);
    transition: all .1s ease-in-out;
}
.nav a:hover{
    color: rgb(218, 218, 218);
}

.section-form{
    border: 1px solid;
    width: 25%;
    height: 100%;
    background-color: rgb(255, 251, 202);
    border-radius: 5px;
    margin: 0px 2px 0px 0px;
}

.section-grafhics{
    border: 1px solid;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article-graphic{
    width: 100%;
    height: 70%;
    background-color: rgb(255, 251, 202);
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article-datas{
    width: 100%;
    height: 30%;
    background-color: rgb(255, 251, 202);
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.container-datas{
    width: 30%;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    border-radius: 5px;
}

.article-form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form > button{
    width: 80%;
    height: 40px;
}

#line-graphic{
    border: 1px solid;
}